<li id="squad">
  <%= link_to root_path do %>
    <i class="fa fa-users" aria-hidden="true"></i>Squadsnap (with React)
  <% end %>
</li>

<li id="squad_old">
  <%= link_to squads_path do %>
    <i class="fa fa-users" aria-hidden="true"></i>Squadsnap (without React)
  <% end %>
</li>
