<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-container w3-deep-orange">
  <h2>Create a new Squad</h2>
</div>

<%= render 'form', squad: @squad %>
