
<style>
.w3-btn {
  width:150px;
}
.w3-button {
  width:80px;
}
.w3-hover-green {
}
</style>

<br>

<div class="w3-panel w3-display-container w3-pale-green w3-round-large w3-border">
  <span onclick="this.parentElement.style.display='none'"
  class="w3-button w3-display-topright">X</span>
  <h3>Notice!</h3>
  <p>You have requested to join <%= @squad.name %></p>
</div>

<br>

<div class="menu-buttons">
    <%= link_to '<button class="actions">Show</button>'.html_safe, @squad %> <%= link_to '<button class="actions">Back</button>'.html_safe, api_squads_path %>
</div>
